:root {
  --white-bg: rgb(255, 255, 255);
  --purple-bg: rgba(92, 26, 141, 1);
  --yellow-bg: rgba(242, 201, 76, 1);
  --gray-bg: rgba(167, 146, 254, 0.07);
  --blue-accent: rgba(86, 204, 242, 1);
  --green-accent: rgba(111, 207, 151, 1);
  --purple-accent: rgba(187, 107, 217, 1);
  --black-accent: rgba(44, 53, 57, 1);
  --white-text: rgba(247, 247, 247, 1);
  --black-text: rgba(35, 44, 53, 1);
  --gray-text: rgb(231, 229, 229);
}

@font-face {
  font-family: 'Cera Pro';
  src: local('Arial'), url('/fonts/Cera-Pro-Black-Italic.ttf'),
    url('/fonts/Cera-Pro-Black-Italic.otf'), url('/fonts/Cera-Pro-Black.otf'),
    url('/fonts/Cera-Pro-Black.ttf'), url('/fonts/Cera-Pro-Bold.otf'),
    url('/fonts/Cera-Pro-Bold.ttf'), url('/fonts/Cera-Pro-Light.otf'),
    url('/fonts/Cera-Pro-Light.ttf'), url('/fonts/Cera-Pro-Medium.otf'),
    url('/fonts/Cera-Pro-Medium.ttf'), url('/fonts/Cera-Pro-Regular-Italic.otf'),
    url('/fonts/Cera-Pro-Regular-Italic.ttf');
  font-display: swap;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Cera Pro';
  background: var(--white-bg);
  color: var(--black-text);
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

* {
  box-sizing: border-box;
}

.container {
  width: 80%;
  margin: 0 auto;
}

main {
  width: 100%;
}

.svg-icon{
  width: 40px;
  height: 40px;
}
